.navbar-static-top {
    margin-left: -14px;
    margin-right: -24px;
    background-color: darkorange;
}
.main-nav {
    display: inline-flex;
    margin-left: 5%;
}
.right-nav {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}
#loginbtn {
    margin-right: 5px;
}
#registerbtn {
    margin-right: 5px;
}

.header {
    float: right;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.header img {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.header-img {
    width: 50px;
    height: 50px;
}

.profile-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#profile-image {
    width: 150px;
    margin: 10px 5px 10px 0px;
}

.nav-container {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: bottom;
}
.nav-item {
    margin-right: 20px;
    font-size: 18px;
    display: inline;
}